.video-item img {
    width: 100%;
    border-radius: 4px;
}
.video-item {
	display: inline-block;
    overflow: hidden;
    cursor: pointer;
    width: 210px;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    border-radius: 4px;
}
.tube-lnk span.ico-play {
    background: url(/bitrix/templates/otoplenie/img/play.png) 50% 50% no-repeat;
    position: absolute;
    height: 98%;
    width: 100%;
    left: 0;
    top: 0;
}
.tube-lnk:hover span.ico-play {
    background: url(/bitrix/templates/otoplenie/img/play_hover.png) 50% 50% no-repeat;
}
.tube_txt {
    position: absolute;
    bottom: 3px;
    color: #FFF;
    padding: 15px;
    background: rgba(0, 0, 0, 0.45);
	border-radius: 0px 0px 4px 4px;
}