.akciya-list .akciya-title {
	font-weight: 600;
	color: #616161;
	margin-bottom: 15px;
	font-size: 19px;
}
.akciya-list img {
	float: left;
	margin-right: 30px;
}
.akciya-list .block {
	overflow: hidden;
}
