.breadcrumbs ul {
	margin-left: 0 !important;
}
.breadcrumbs li:before {
	content: "" !important;
	padding-right: 0 !important;
}
.breadcrumbs{
    margin-bottom:20px;
    padding-top:0px
}
.breadcrumbs ul{
    margin:0;
    padding:0
}
.breadcrumbs ul li{
    display:inline-block;
    line-height:20px
}
.breadcrumbs ul li a{
    display:block;
    padding:0 16px;
    background:url(images/breadcrumbs_arrow.png) no-repeat center right;
}
.breadcrumbs ul li:first-child a{
	padding-left:0;
	padding-right: 19px;
}
.breadcrumbs ul li:last-child  a{background:none}
.breadcrumbs ul li span{
    display:block;
    padding:0 10px;
}
.breadcrumbs,
.breadcrumbs ul li{
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
#content .breadcrumbs ul li, #content .breadcrumbs ul li:before {
	margin-left: 0px !important;
}