.mr-r {
	margin-right: -4px;
	border-color: #474747 !important;
}
.pagen-wrap span:last-child {
	margin-right: 0px !important;
}
div.page-navigation { 
	padding: 0.5em 0;
	text-align: center;
	padding-right: 20px;
}
div.page-navigation a, 
span.page-current, 
span.page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding: 8px 13px;
	display: inline-block;
	text-decoration: none;
}
div.page-navigation a, span.page-first {
	margin-right: -4px;
}
div.page-navigation a.page-previous { 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-left: none; }
div.page-navigation a.page-first, 
div.page-navigation span.page-first { 
	border-left: none; 
}
span.page-current { 
	cursor: default}
div.page-navigation a, 
span.page-current, 
div.page-navigation a.page-previous, 
span.page-dots { 
	border-color: #cdcdcd; }
	
.pagen-wrap {
  display: inline-block;
  background: #f4f4f4;
  border-radius: 4px;
  overflow: hidden;
}
span.page-current {
  background-color: #474747;
  color: #FFF;
}
span.page-title {
  display: inline-block;
  padding: 6px 10px;
  overflow: hidden;
}
.pagen-wrap a:hover {
	background-color: #b2496e;
	color: #FFF;
	border-color: #b2496e;
}
.page-previous:before, .page-next:before {
	color: #b2496e;
	content: "";
	width: 7px;
	height: 13px;
	display: inline-block;
}
.page-previous:before {
	background: url(pagen_arr.png) no-repeat;
}
.page-next:before {
	background: url(pagen_arr.png) -7px 0px no-repeat;
	margin-right: 3px;
}