/*Левые меню*/
.accordion > li ul {
	display: none;
}
#left-menu {
	background: #F4F4F4;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 20px;
}
#left-menu1 > li > a, #left-menu2 > li > a {
	text-decoration: none;
	display: block;
	padding: 11px 27px;
}
#left-menu1 > li, #left-menu2 > li {
	border-bottom: 1px solid #E6E6E6;
}
#left-menu ul li:last-child {
	border-bottom: none;
}
#left-menu .left-title1 {
	padding: 17px 27px;
	background: #BB517A;
	color: #FFF;
	font-size: 20px;
}
#left-menu .left-title2 {
	padding: 12px 27px;
	background: #BB517A;
	color: #FFF;
}
#left-menu1 > li, #left-menu2 > li {
	cursor: pointer;
}
#left-menu1 > li > ul {
	cursor: default;
}
#left-menu1 > li > span {
	display: block;
	padding: 11px 27px;
	margin-left: 18px;
}
li i.ico-arr {
	display: block;
	margin: 12px 14px 0px 25px;
	float: left;
	background: url("/bitrix/templates/otoplenie/img/ico_arr_rigft.png") 0px 0px no-repeat;
	width: 6px;
	height: 11px;
}
li.selected i.ico-arr {
	background: url("/bitrix/templates/otoplenie/img/ico_arr_down.png") 0px 0px no-repeat;
	width: 11px;
	height: 6px;
	margin: 15px 9px 0px 25px;
}
#left-menu1 > li:hover, #left-menu2 > li:hover {
	background: #E2E2E2;
	cursor: pointer;
}
ul#left-menu1 ul li a {
    padding-left: 8px;
    display: inline-block;
	text-decoration: none;
}
ul#left-menu1 ul li a span {
	text-decoration: underline;
}
ul#left-menu1 ul li a:hover span {
	text-decoration: none;
}
#left-menu ul li ul li a:before {
	color: #b2496e; /* Цвет маркера */
	content: "• "; /* Сам маркер */
	padding-right: 4px; /* Расстояние от маркера до текста */
	font-size: 16px;
	margin-left: -13px;
}
#left-menu .root-item-selected, #left-menu .item-selected {
	color: #B2496E;
}
nav#left-menu ul li ul {
	margin: 0px 0px 0px 44px;
    padding-bottom: 15px;
	padding-right: 10px;
}
nav#left-menu ul li ul li {
	padding: 3px 0;
}

#left-menu1 a.root-item span, #left-menu1 a.root-item-selected span {
    margin-left: 18px;
}