.files-list {
	overflow: hidden;
	margin-top: 25px;
}
.left-files {
	width: 292px;
	margin-right: 15px;
	float: left;
}

.left-files:last-child {
	margin-right: 0px;
}
.left-files:first-child + .left-files + .left-files { /*Для IE8*/
	margin-right: 0px;
}